.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap {
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
  width: 100%;

  @media screen and (min-width: 950px) {
    padding: 0 1em;
  }

  &.two-columns {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 950px) {
      display: block;
    }

    &>*:first-child { 

      @media screen and (min-width: 950px) {
        float: left;
        width: 58%;
      }
    }

    &>*:last-child {
      
      @media screen and (min-width: 950px) {
        padding: 1em 0;
        width: 36%;
        float: right;
      }
    }

      

  }
}

.site-content {
    padding: 1em 0;
    min-height: 58vh;

    @media screen and (min-width: $query__small) {
		padding: 2em 0;
	}
}

.category-list {
  margin: 0;
}
.post-categories {
  display: inline;
  margin: 0;
  padding: 0;

  & li {
      list-style-type: none; 
      display: inline; 

      &:first-child a{
        border: none;
    }
  }

  & li a {
      color:#222;
      line-height:15px;
      text-decoration:none;
      font-weight:normal;
      border-left: thin solid #000;
      padding: 0 3px 3px 7px;
      font-size: 1rem;

      &:hover {
          color: cornflowerblue;
      }
  }
}